<?xml version="1.0"?>

<model>
  <name>Mobilebot</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Eduardo Farinati Leite</name>
    <email>eduardo.farinati@ufrgs.br</email>
  </author>

  <description>
    The mobilebot for the warehouse automation project.
  </description>
</model>
